.login-title {
    margin: 80px 30px 10px;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
}

.alert-box {
    width: 100%;
}

.description {
    border: 1px solid #00e5cb;
    border-radius: 5px;
    padding: 10px;
    line-height: 18px;
}
