.brand-text {
    margin-left: 15px;
    margin-bottom: 0;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 25px;
}

.brand-container {
    display: flex;
    margin-left: 20px;
    font-size: 25px;
}

.navs-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.navbar {
    background-color: #082945;
}
